* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 70px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: gray;
    font-weight: 300;
}

.button-reservation {
    background-color: #d12b2b;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imgSection {
    display: flex;
    justify-content: center;
}

.special-menu {
    margin: 90px;
}

.special-menu h2 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
}

.food {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.food .food-img {
    object-fit: contain;
    height: 350px;
}

.food .food-content {
    display: flex;
    gap: 20px;
    margin: 30px;
    align-items: center;
}

.food-name {
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.food-price {
    font-size: 15px;
    box-shadow: 3px 3px 80px rgba(0, 0, 0, 0.5);
    width: 70px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #ffa500;
    padding: 15px 10px;
    border-radius: 30px;
    text-align: center;
}

.first-price {
    color: #808080;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.food-general-puntuation {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 30px;
}

.food-general-puntuation .food-puntuation {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.food-general-puntuation .food-reviews {
    color: gray;
    font-weight: 200;
    font-family: Roboto, sans-serif;
}

.food-content del {
    color: #808080;
    font-family: Roboto, sans-serif;
}

.peopleSection {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.events-section h2 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.events {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-self: center;
    gap: 20px;
    margin-top: 40px;
}

.events {
    width: 800px;
}

.events img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.first-event {
    width: 400px;
    height: 290px;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
}

.second-event {
    width: 400px;
    height: 290px;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
}

.third-event {
    width: 264px;
    height: 190px;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.fourth-event {
    width: 264px;
    height: 190px;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
}

.fifth-event {
    width: 262px;
    height: 190px;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
}